omni-channel-api/src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:product-api="http://www.mulesoft.org/schema/mule/product-api" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/product-api http://www.mulesoft.org/schema/mule/product-api/current/mule-product-api.xsd">
    <http:listener-config name="api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="api-config" api="api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <product-api:config name="Product_API_Config" doc:name="Product API Config" doc:id="97d85160-0878-46c0-be97-f0476efb6404" property_host="lv-demos-product-api-gw.us-e2.cloudhub.io" property_port="80" property_basePath="/" />
	<flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\user\(user_id)\shopping_cart:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\users\user\(user_id)\shopping_cart:application\json:api-config" />
    </flow>
    <flow name="get:\orders\order\(order_id):api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="order_id">attributes.uriParams.'order_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  order_id: "29842",
  tracking_code: "12310391209318",
  rel_self: "http://alc.mulesoft.com/api/orders/oder/order_22",
  creation_date: "2015/12/31 10:00:00",
  cost: {
    price: 12.0,
    tax: 1.0,
    final_price: 13.0
  },
  shipping: {
    shipping_address_id: "1122",
    rel_address: "http://alc.mulesoft.com/api/users/user/vip_user_8/address/1122"
  },
  items: [
    {
      product_id: "1",
      rel_product: "http://alc.mulesoft.com/api/products/product/1",
      quantity: 1
    }, 
    {
      product_id: "2",
      rel_product: "http://alc.mulesoft.com/api/products/product/2",
      quantity: 2
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\products\product\(product_id):api-config">
        <product-api:get-product-by-id doc:name="Get product by id" doc:id="aafa86c2-d36e-4a23-8dff-6106b1061ea3" config-ref="Product_API_Config" id="#[attributes.uriParams.product_id]"/>
    </flow>
    <flow name="get:\products\search:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 1,
    rel_self: "http://alc.mulesoft.com/api/products/product/1",
    name: "Imperial Mule T-shirt",
    full_description: "What could be better than beeing an Imperial Mule?",
    pictures: [
      "https://s3.amazonaws.com/apiled-workshop-3.0/product-images/imperial_mule_grey_compact.jpg"
    ],
    rating: 1.2,
    available_stock: 4,
    unit_price: 19.0,
    unit_original_price: 19.0
  }, 
  {
    id: 2,
    rel_self: "http://alc.mulesoft.com/api/products/product/2",
    name: "M-Shield Shirt Blue",
    full_description: "Be part of the Mule family",
    pictures: [
      "https://s3.amazonaws.com/apiled-workshop-3.0/product-images/M_light_bluye_compact.jpg"
    ],
    rating: 1.2,
    available_stock: 4,
    unit_price: 19.0,
    unit_original_price: 19.0
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\orders\search:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    order_id: "order_22",
    tracking_code: "12310391209318",
    rel_self: "http://alc.mulesoft.com/api/orders/oder/order_22",
    creation_date: "2015/12/31 10:00:00",
    cost: {
      price: 12.0,
      tax: 1.0,
      final_price: 13.0
    },
    shipping: {
      shipping_address_id: "1122",
      rel_address: "http://alc.mulesoft.com/api/users/user/vip_user_8/address/1122"
    },
    items: [
      {
        product_id: "121",
        rel_product: "http://alc.mulesoft.com/api/products/product/121",
        quantity: 1
      }, 
      {
        product_id: "122",
        rel_product: "http://alc.mulesoft.com/api/products/product/122",
        quantity: 2
      }
    ]
  }, 
  {
    order_id: "order_23",
    tracking_code: "12310391209318",
    rel_self: "http://alc.mulesoft.com/api/orders/oder/order_22",
    creation_date: "2015/12/31 10:00:00",
    cost: {
      price: 12.0,
      tax: 1.0,
      final_price: 13.0
    },
    shipping: {
      shipping_address_id: "1122",
      rel_address: "http://alc.mulesoft.com/api/users/user/vip_user_8/address/1122"
    },
    items: [
      {
        product_id: "121",
        rel_product: "http://alc.mulesoft.com/api/products/product/121",
        quantity: 1
      }, 
      {
        product_id: "122",
        rel_product: "http://alc.mulesoft.com/api/products/product/122",
        quantity: 2
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\user\(user_id)\shopping_cart:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  last_modification_date: "2015/12/31 10:00:00",
  cost: {
    price: 11.0,
    tax: 1.0,
    final_price: 12.0
  },
  items: [
    {
      product_id: "1",
      rel_product: "http://alc.mulesoft.com/api/products/product/1",
      quantity: 1
    }, 
    {
      product_id: "2",
      rel_product: "http://alc.mulesoft.com/api/products/product/2",
      quantity: 1
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\user\(user_id)\shopping_cart\confirmation:application\json:api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="user_id">attributes.uriParams.'user_id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  order_id: "order_22",
  order_number: "order_22_worldwide",
  tracking_code: "AA8839II989",
  eta: "2016/12/31 10:00:00",
  shipping: {
    shipping_address_id: "1122",
    rel_address: "http://alc.mulesoft.com/api/users/user/vip_user_8/address/1122"
  },
  items: [
    {
      product_id: "121",
      rel_product: "http://alc.mulesoft.com/api/products/product/121",
      quantity: 1
    }, 
    {
      product_id: "122",
      rel_product: "http://alc.mulesoft.com/api/products/product/122",
      quantity: 2
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
